{% extends 'base-header-footer.html' %}
{% block content %}
    <form method="post" class="form">
        <div class = "content">
            {% csrf_token %}

            {% for field in login_form %}

                    <p class = "fields">
                        {{ field.label_name }}
                        {{ field }}

                        {% if field.help_text %}
                            <small>{{ field.help_text }}</small>
                        {% endif %}
                    </p>

            {% endfor %}

            {% for field in login_form %}
                {% for error in field.errors %}
                    <p class ="error" style ="color: red;">{{ error }}</p>
                {% endfor %}
            {% endfor %}

            {% for error in field.errors %}
                <p class ="error" style ="color: red;">{{ error }}</p>
            {% endfor %}
            {% if login_form.non_field_errors %}
                <div class ="error" style ="color: red;">
                    <p >{{ login_form.non_field_errors }}</p>
                </div>
            {% endif %}

            <div id="btns">
                <button type="submit" id = "btn">login</button>
                <a href="/" id="home_btn">Home</a>
            </div>
        </div>
    </form>
{% endblock content %}
